@import "_abstract";
$card-width: 400px;
$container-height: 100vh;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $container-height;
  @include image-background-jobad;
}

.card {
  width: $card-width;
  box-shadow: $big-shadow-box;

  .card-body {
    padding: $gap-small;
  }

  .card-title {
    font-size: $big-font-size;
  }

  .form-field {
    margin-bottom: $gap-small;
  }

  .http-error-msg {
    background-color: $warning-color;
    padding: $gap-large;
  }
}
