<div class="container">
  <mat-card class="card" color="primary">
    <mat-toolbar class="login-toolbar" color="primary"
      >JobAd App Login</mat-toolbar
    >
    <section class="card-body">
      <form [formGroup]="form" (ngSubmit)="login()">
        <mat-form-field>
          <mat-icon matPrefix>person_outline</mat-icon>
          <mat-label>Email</mat-label>
          <input
            matInput
            placeholder="Email"
            formControlName="email"
            autocomplete="on"
          />
        </mat-form-field>

        <mat-form-field>
          <mat-icon matPrefix>lock_outline</mat-icon>
          <mat-label>Password</mat-label>
          <input
            matInput
            placeholder="Password"
            type="password"
            formControlName="password"
            autocomplete="on"
          />
        </mat-form-field>

        <div class="form-field">
          <button
            mat-raised-button
            color="primary"
            closs="submit-button"
            type="submit"
            [disabled]="this.form.touched && !this.form.valid"
          >
            Login
          </button>
        </div>
      </form>
      <div>
        If You don't have a account yet please
        <a routerLink="/register">REGISTER HERE</a>
      </div>
    </section>
  </mat-card>
</div>
