@mixin image-background-jobad {
  background-image: url("/assets/img/bg-img.png");

  &::before {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background: rgb(63, 94, 251);
    background: radial-gradient(
      circle,
      rgb(92, 119, 255) 20%,
      rgb(29, 25, 255) 100%
    );
    //background-color: rgb(53, 53, 255);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    backdrop-filter: blur(10px);
  }
}

@mixin warning-container {
  color: $white-color;
  background: $warning-color;
  padding: $gap-small;
  font-weight: bold;
}

@mixin success-snackbar {
  background-color: $success-color;
  color: $white-color;
}

@mixin warning-snackbar {
  background: $warning-color;
  color: $white-color;
}
