<mat-card *ngIf="dataSource && dataSource.length === 0" class="item" color="primary">
    <mat-card-content color="primary">
        There is no registered job ads jet by condition you searched for! :)
    </mat-card-content>
</mat-card>

<ng-container *ngIf="!!dataSource">
    <table mat-table [dataSource]="dataSource">
        <ng-container *ngFor="let config of tableConfig" [matColumnDef]="config.key">
            <ng-container *ngIf="config.key !== 'action'; else actionColumnTemplate">
                <th mat-header-cell *matHeaderCellDef>{{ config.label }}</th>
                <td mat-cell *matCellDef="let element">{{ element[config.key] }}</td>
            </ng-container>
            <ng-template #actionColumnTemplate>
                <th mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let element">
                    <ng-container *ngTemplateOutlet="actionColumn; context: { $implicit: element }"></ng-container>
                </td>
            </ng-template>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
</ng-container>
