<div *ngIf="isVisible" [@welcomeAnimation]="isVisible ? 'visible' : 'hidden'">
    <div class="container">
        <mat-card class="item">
            <mat-card-content>
                <div class="filter-section">
                    <form [formGroup]="filterForm">
                        <div class="field-wrapper">
                            <mat-form-field>
                                <mat-label>Search by title</mat-label>
                                <input
                                    matInput
                                    placeholder="Search by title"
                                    formControlName="title"
                                    autocomplete="on"
                                />
                                <mat-icon matPrefix>search</mat-icon>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Search by status</mat-label>
                                <select matNativeControl formControlName="jobAdStatus">
                                    <option value="">All statuses</option>
                                    <option value="draft">Draft</option>
                                    <option value="published">Published</option>
                                    <option value="archived">Archived</option>
                                </select>
                            </mat-form-field>
                        </div>
                    </form>

                    <button style="margin-left: auto" mat-raised-button (click)="createNewJobAd()">
                        <mat-icon matPrefix>add</mat-icon>Add new job
                    </button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="container">
        <div class="table-container item">
            <app-table [dataSource]="jobAds$ | async" [tableConfig]="tableConfig">
                <ng-template #actionColumn let-element>
                    <div class="action-buttons" *ngIf="element.jobAdStatus !== 'archived'; else noAction">
                        <button
                            mat-raised-button
                            (click)="changeStatus(element)"
                            [color]="element.jobAdStatus !== 'published' ? 'primary' : 'accent'"
                        >
                            {{ element.jobAdStatus | stateTextChanger }}
                        </button>
                        <button mat-raised-button (click)="editJobAd(element.id)" color="primary">Edit</button>
                    </div>
                </ng-template>
            </app-table>

            <app-paginator
                [paginationMetaData]="paginationMetaData$ | async"
                (paginationChanged)="afterPaginationChange($event)"
            ></app-paginator>
        </div>
    </div>
    <ng-template #noAction><div class="no-action">/</div> </ng-template>
</div>
