@import '_abstract';
$field-wrapper-width: 400px;

.container {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: $gap-large;
    position: relative;
}

.item {
    width: 80%;
}
.table-container {
    width: 80%;
    padding-bottom: $gap-large;
}

.action-buttons {
    display: flex;
    justify-content: center;
    gap: $gap-smallest;
}

.no-action {
    text-align: center;
}

.filter-section {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    .field-wrapper {
        display: flex;
        width: $field-wrapper-width;
        gap: $gap-small;
    }
}
