@import '_abstract';

:host::ng-deep {
    .mdc-text-field--filled:not(.mdc-text-field--disabled),
    .mat-mdc-form-field-focus-overlay {
        background-color: transparent;
    }

    /*mat table row overrides*/
    tr.mat-mdc-header-row th:last-of-type {
        text-align: center;
    }

    tr.mat-mdc-row {
        &:nth-child(odd) {
            background-color: #eeeeee;
        }

        &:hover {
            background-color: #d4d4d4;
        }
    }
}
