<div class="container">
    <mat-card>
        <mat-card-content>
            <h1>404 Page not found :(</h1>
            <p>Maybe the page you are looking for has been removed, or you typed in the wrong URL</p>
            <a routerLink="/entry">Go to homepage</a>
        </mat-card-content>
    </mat-card>
</div>
