@import '_abstract';
:host::ng-deep {
    .container {
        display: flex;
        justify-content: center;
        align-content: center;
        margin-top: $gap-large;
        position: relative;

        mat-card {
            width: 70%;
        }
    }
}
