<div class="container">
  <mat-card class="card" color="primary">
    <mat-toolbar class="login-toolbar" color="primary"
      >JobAd App Register</mat-toolbar
    >
    <section class="card-body">
      <form [formGroup]="form" (ngSubmit)="register()">
        <mat-form-field>
          <mat-icon matPrefix>person_outline</mat-icon>
          <mat-label>Email</mat-label>
          <input
            matInput
            placeholder="Email"
            formControlName="email"
            autocomplete="on"
          />
        </mat-form-field>

        <mat-form-field>
          <mat-icon matPrefix>lock_outline</mat-icon>
          <mat-label>Password</mat-label>
          <input
            matInput
            placeholder="Password"
            type="password"
            formControlName="password"
            autocomplete="on"
          />
        </mat-form-field>

        <mat-form-field>
          <mat-icon matPrefix>lock_outline</mat-icon>
          <mat-label>Confirm password</mat-label>
          <input
            matInput
            placeholder="Confirm password"
            type="password"
            formControlName="confirmPassword"
            autocomplete="on"
          />
        </mat-form-field>

        <div class="form-field">
          <button
            mat-raised-button
            color="primary"
            closs="submit-button"
            type="submit"
            [disabled]="this.form.touched && !this.form.valid"
          >
            Register
          </button>
        </div>
      </form>
      <div>
        Go back to
        <a routerLink="/login">LOGIN</a>
      </div>
    </section>
  </mat-card>
</div>
