<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Job ad app</span>
        <span class="example-spacer"></span>
        <button mat-raised-button (click)="logout()"><mat-icon aria-hidden="false">logout</mat-icon> Logout</button>
    </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
