@import '_abstract';

.container {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: $gap-large;
    position: relative;
}

.form-container {
    width: 60%;
}

.field-container {
    margin-bottom: $gap-medium;
}

.label-area {
    display: flex;
    max-width: 50%;
    align-items: center;

    .add-skill {
        margin-left: auto;
    }
}

.remove-skill {
    cursor: pointer;

    &:hover {
        color: rgb(247, 7, 7);
    }
}

.skills-section {
    display: flex;
    align-items: center;
    gap: $gap-large;
    width: 50%;
}
