<div *ngIf="isVisible" [@welcomeAnimation]="isVisible ? 'visible' : 'hidden'">
    <div class="container">
        <mat-card class="form-container">
            <mat-toolbar class="login-toolbar"
                >{{ isEdit ? 'Edit' : 'Create new' }} job ad
                <button style="margin-left: auto" mat-raised-button (click)="goToList()">
                    <mat-icon matPrefix>list</mat-icon>Go back to list
                </button></mat-toolbar
            >
            <mat-card-content>
                <form [formGroup]="form" (ngSubmit)="submit()">
                    <div class="field-container">
                        <mat-form-field>
                            <mat-label>Job ad title</mat-label>
                            <input matInput placeholder="Title" formControlName="title" autocomplete="on" />
                        </mat-form-field>
                    </div>
                    <div class="field-container">
                        <mat-form-field>
                            <mat-label>Description</mat-label>
                            <textarea
                                matInput
                                rows="3"
                                placeholder="Description"
                                formControlName="description"
                                required=""
                            >
                            </textarea>
                        </mat-form-field>
                    </div>

                    <div class="field-container" formArrayName="skills">
                        <div class="label-area">
                            <mat-label>Job skills </mat-label>
                            <button
                                *ngIf="!isArchived"
                                mat-raised-button
                                class="add-skill"
                                type="button"
                                (click)="addNewSkill()"
                            >
                                <mat-icon matPrefix>add</mat-icon>Add new skill
                            </button>
                        </div>
                        <ng-container *ngFor="let skill of skills.controls; let i = index">
                            <div class="skills-section">
                                <mat-form-field>
                                    <mat-label>Skill {{ i + 1 }}</mat-label>
                                    <input matInput placeholder="Title" [formControlName]="i" autocomplete="on" />
                                </mat-form-field>

                                <mat-icon
                                    *ngIf="i > 0 && !isArchived"
                                    class="remove-skill"
                                    matPrefix
                                    (click)="removeSkill(i)"
                                    >cancel</mat-icon
                                >
                            </div>
                        </ng-container>

                        <button *ngIf="!isArchived" type="submit" color="primary" mat-raised-button>Submit</button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>
