$warning-color: #f44336;
$success-color: #146400;
$white-color: #ffffff;

/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    background-color: #ebebeb;
}

mat-form-field {
    width: 100%;
}

.cdk-overlay-container {
    .my-success-snackbar {
        .mdc-snackbar__surface {
            background-color: $success-color;
            color: $white-color;
        }

        .mdc-button__label {
            color: #ffffff;
        }
    }

    .my-warning-snackbar {
        .mdc-snackbar__surface {
            background-color: $warning-color;
            color: #ffffff;
        }

        .mdc-button__label {
            color: #ffffff;
        }
    }
}
